# Ignore everything in the root directory
/*

# Adding myself to the party!
!.gitignore
!.ignore

!.github

!configs
!docs
!etc
!scripts

!lua
!init.lua
!justfile
!lazy-lock.json
!version

!LICENSE
!README.md
!CHANGELOG.md
